*{
    margin: 0;
    padding: 0;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
/* Layout */
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 110%;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffaaaa;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
/* Homepage */
}
.homepage{
    width: 100%;
    position: static;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.homepage h1{
    font-weight: bold;
    font-size: 70px;
    margin-top: 25%;
}
.homepage p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffaaaa;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #ffaaaa;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/* Locations Near Me */
.bannerLocations{
    background: black;
    background-size: cover;
    background-position: center;
} 
/* Medical Records */
.bannerRecords{
    background: black;
    background-size: cover;
    background-position: center;
}
/* Login */
.bannerLogin{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
}
.loginbox{
    width: 320px;
    height: 420px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 2px #ffaaaa solid;
}
.h1login{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.loginbox p{
    margin: 0;
    margin-left: 15px;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 290px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 50px;
    color: black;
    font-size: 15px;
}
.login-submit input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ffaaaa;
    color: black;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #ffaaaa;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.login-submit span{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 70px;
    background: #ffaaaa;
    height: 40px;
    width: absolute;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}
.login-submit:hover span{
    width: 290px;
}
.login-submit:hover{
    border:none;
}
/* Register */
.bannerRegister{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
}
.registerbox{
    width: 335px;
    height: 500px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 2px #ffaaaa solid;
}
.h1register{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.registerbox p{
    margin: 0;
    margin-left: 15px;
    padding: 0;
    font-weight: bold;
}
.registerbox input{
    width: 290px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.registerbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 50px;
    color: black;
    font-size: 15px;
}
.register-submit input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ffaaaa;
    color: black;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #ffaaaa;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.register-submit span{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 56px;
    background: #ffaaaa;
    height: 40px;
    width: absolute;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}
.register-submit:hover span{
    width: 290px;
}
.register-submit:hover{
    border:none;
}
.year input[type="text"], [name="year"]{
    width: 100px;
    border-bottom: 1px solid black;
    outline: none;
    height: 10px;
    color: black;
    font-size: 15px;