{% extends "layout.html" %}

{% block title %}
    Admin Input
{% endblock %}

{% block main %}
    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
        <div class="adminbox">
            <br>
            <h1 class= "h1admin">Input Patient's Medical Information</h1>
            <form action = "/admin_input" method = "post">
                <p>Patient's Name:</p>
                <input type="text" name="name" placeholder="-first last-">
                <p>Surgical History:</p>
                <input type="text" name="surgical_history" placeholder="-surgical history-"/>
                <p>Obsteric History:</p>
                <input type="text" name="obstetric_history" placeholder="-obsteric history-"/>
                <p>Medications</p>
                <input type="text" name="medications" placeholder="-medications-"/>
                <p>Allergies</p>
                <input type="text" name="allergies" placeholder="-allergies-"/>
                <p>Family History</p>
                <input type="text" name="family_history" placeholder="-family history-"/>
                <p>Social History</p>
                <input type="text" name="social_history" placeholder="-social history-"/>
                <p>Habits</p>
                <input type="text" name="habits" placeholder="-habits-"/>
                <p>Immunization</p>
                <input type="text" name="immunization" placeholder="-immunization-"/>
                <p>Developmental History</p>
                <input type="text" name="developmental_history" placeholder="-developmental history-"/>
                <p>Demographics</p>
                <input type="text" name="demographics" placeholder="-demographics-"/>
                <p>Medical Encounters</p>
                <input type="text" name="medical_encounters" placeholder="-medical records-"/>
                <p>Notes</p>
                <input type="text" name="notes" placeholder="-extra patient info-"/>
                <div class="admin-submit">
                    <input type="submit" name="" value="Submit Patient's Information"/>
                    <span></span> 
                </div>
                <br>
                <br>
                <br>
            </form>
        </div>
    </body>
{% endblock %}

<!-- create a register page with the forms for name, username, password, and an option to use whether they are registering as hospital admin or patient -->
