<!-- Empty Medical Records -->
{% extends "layout.html" %}

{% block title %}
    Records
{% endblock %}

{% block main %}
    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
        <div class="htextboxb">
            <br>
            <h1>Records</h1>
            <br>
            <p> None available at this time. Contact your physician's office for more details.
            </p>
            <br>
            <br><br>
        </div>
    </body>

{% endblock %}