{% extends "layout.html" %}

{% block title %}
    Web Application Title
{% endblock %}

{% block content %}

    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
            <!-- <div class="navbar">
                    <img src="images/logo.png" class="logo">
                     <ul>
                            <li><a href="templates/index.html">Home</a></li>
                            <li><a href="templates/locations.html">Locations Near Me</a></li>
                            <li><a href="templates/records.html">Medical Records</a></li>
                            <li><a href="#">Login/Register</a></li>
                    </ul>
            </div> -->
            <div class="homepage">
                    <h1>TBD</h1>
                    <p>TBD(Description of Site)</p>
                    <div>
                            <button type= "button"><span></span>button1</button>
                    </div>
            </div>
    </body>



{% endblock %}

<!-- the main page with all the stuff we discussed -->