{% extends "layout.html" %}

{% block title %}
    InstaMed
{% endblock %}

{% block content %}

    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
        <div class="homepage">
            <h1>TBD</h1>
            <p>TBD(Description of Site)</p>
            <div>
                    <button type= "button"><span></span>button1</button>
            </div>
        </div>
        <div class="htextbox">
            <br>
            <img src="../static/indeximg1.png" alt="indeximg1" width="425px">
            <h1>TBD</h1>
            <br>
            <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
            </p>
            <br><br><br><br><br>
        </div>
    </body>



{% endblock %}

<!-- the main page with all the stuff we discussed -->