{% extends "layout.html" %}

{% block title %}
    Web Application Title
{% endblock %}

{% block content %}

    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
            <div class="homepage">
                    <h1>TBD</h1>
                    <p>TBD(Description of Site)</p>
                    <div>
                            <button type= "button"><span></span>button1</button>
                    </div>
            </div>
    </body>



{% endblock %}

<!-- the main page with all the stuff we discussed -->