<!-- Medical Records -->
{% extends "layout.html" %}

{% block title %}
    Records
{% endblock %}

{% block main %}
    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
        <div class="htextboxb">
            <br>
            <h1>Locations</h1>
            <br>
            <p> Use the Google Maps embed to find information regarding the closest hospitals and emergency rooms in the area. 
            </p>
            <br>
            <br><br><br><br><br>
        </div>
    </body>

{% endblock %}