<!-- Medical Records -->
{% extends "layout.html" %}

{% block title %}
    Records
{% endblock %}

{% block main %}
    <head>
        <link href="/static/styles.css" rel="stylesheet">

    </head>
    <body class= "banner">
        <div class="htextboxb">
            <br>
            <h1>Locations</h1>
            <br>
            <p> Use the Google Maps embed to find information regarding the closest hospitals and emergency rooms in the area. 
            </p>
            <br>
            <br><br><br><br><br>
        </div>
    </body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surgical History</th>
                <th>Obstetric History</th>
                <th>Medications</th>
                <th>Allergies</th>
                <th>Family History</th>
                <th>Social History</th>
                <th>Habits</th>
                <th>Immunization</th>
                <th>Developmental_history</th>
                <th>Demographics</th>
                <th>Medical Encounters</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for record in records %}
                <td>{{ record }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

{% endblock %}