*{
    margin: 0;
    padding: 0;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;   
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 110%;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffaaaa;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.homepage{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.homepage h1{
    font-size: 70px;
    margin-top: 80px;
}
.homepage p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #ffaaaa;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #ffaaaa;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/* Locations Near Me */
.bannerlocations{
    background: black;
    background-size: cover;
    background-position: center;
} 
/* Medical Records */
.bannerRecords{
    background: black;
    background-size: cover;
    background-position: center;